
/* ~ Шрифты ~ */
@import 'fonts/fonts.css';

/* ~ Общие стили ~ */

body{
    background: #131313;
    color: #EAEAEA;
    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;

    font-family: 'Neo Sans Pro';
}


.container{
    max-width: 1194px;
    padding-left: 12px;
    padding-right: 12px;
}

p{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #EAEAEA;
}

a:hover{
    color: #FFED00;
}

h1{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #EAEAEA;

    margin: 0;
}

h2{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    
    color: #EAEAEA;

    margin-top: 101px;
    padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
    h2{
        font-size: 36px;
        line-height: 42px;

        margin-top: 50px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 575px) {
    h2{
        font-size: 24px;
        line-height: 29px;

        margin-top: 50px;
        padding-bottom: 20px;
    }
}

h5{
    margin-bottom: 0;
}

/* ~ Header ~ */
.header_contacts{
    background: #232323;
}

.header_main{
    background-color: #131313;
}

.header_hamburger{
    background-color: #131313;
}

.button_hamburger{
    border:none;

    background: none;
    color: #EAEAEA;
}

.header_heading_hamburger{
    text-align: end;
}

@media screen and (max-width: 767px) {
    .header_heading_hamburger{
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 575px) {
    .header_heading_hamburger{
        font-size: 12px;
        line-height: 14px;
    }
}


/* ==Серый текст== */
.contact_gray{
    color: #8D8D8D;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

/* ==Белый текст== */
.contact_info{
    color: #EAEAEA;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
}

/* === для десктоп. Отключаем клик для ссылки === */
.phone {
    user-select: all;
    pointer-events: none;
}

/* === для мобилки. Включаем === */
@media screen and (max-width: 991px) {
  .phone {
    user-select: none;
    pointer-events: auto;
  }
}

/* ==Margin== */
.mt-15px{
    margin-top: 15px;
    margin-bottom: 5px;
}

/* ==Margin== */
.mr-20px{
    margin-right: 20px;
}

/* ==Линия== */
.line{
    list-style: none;
    
    display: inline-block;
    border-right: 2px solid #3c3c3c;
    line-height: 96px;
    padding-right: 88px;
    
}

/* ==Лого== */
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ==Кнопка "Заказать звонок"== */
.button_call{
    background: #FFED00;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #1F1F1F;

    border: none;

    height: 50px;
    max-width: 178px;

    text-align: center;
    display: inline-block;
    
}

/* ==Текст "Возникли вопросы?"== */
.questions{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    margin-bottom: 9px;
    padding-left: 60px;
}

/* ==Текст "Задать вопрос"== */
.ask_question{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;

    padding-left: 60px;

    color: #FFED00;
}

/* ==Навигационная панель== */
.navbar_LevelUp{
    background-color: #0D0D0D;

    display: flex;
    align-items: center;
    
}

/* ==Текст навигационной панели== */
.text{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-decoration: none;
}

.nav-item{
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-link{
    padding: 0;
}

.nav-link:hover{
    color: #FFED00;
}

/* ==Padding== */
.pl{
    padding-left: 60px;
}



/* ==Кнопки для слайдера== */
.button_red{
    background: #E31E24;
    color: white;
}

.button_red:hover{
    color: white;
}


.button_blue{
    background: #21385A;
    color: white;

}

.button_blue:hover{
    color: white;
}


/* ==Маленькие карточки== */
.small_card{
    background-color: #232323;
    border-radius: 5px;
    display: flex;
    padding: 15px 15px 15px 17px;

    height: 100%;
}

/* ==Маленькие карточки (текст)== */
.small_card_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    
    display: flex;
    align-items: center;

    color: #EAEAEA;
    padding: 0px 22px;
}


/* ==Наши услуги (карточки)== */
.card{
    height: 100%;

    background: #232323;
    border-radius: 5px;
    
    padding: 20px;
    
}

/* ==Заголовок карточек== */
.card_title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
   
    display: flex;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;

    color: #EAEAEA;
}

/* ==Текст карточек== */
.card_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
   
    color: #FFFFFF;

    
}

/* ==Кнопка "Подробнее"== */
.about_btn{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    
    display: flex;
    align-items: center;

    color: #FFED00;

}

.about_btn:hover{
    color: #2f89ff;
}

/* ==Слайдер "Наши клиенты"== */
.carousel-caption{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.carousel_text_block{
    width: 444px;
    padding-left: 5px;
}

.carousel-heading{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
}

.carousel_text{
    padding-top: 10px;
    font-size: 16px;
    line-height: 19px;
}

.button_carousel{
    padding-right: 37px;
    padding-left: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.button_carousel_main{
    width: 187px;
    height: 50px;

    border-radius: 5px;

    border:none
}

.carousel_text_block_inner{
    padding-bottom: 40px;
}

@media screen and (max-width: 991px){
    .carousel-heading{
        font-size: 20px;
        line-height: 25px;
    }

    .carousel_text{
        font-size: 14px;
        line-height: 20px;
    }

    .carousel_text_block{
        width: 400px;
    }

    .carousel_text_block_inner{
        padding-bottom: 20px;
    }
    

}

@media screen and (max-width: 767px){
    .carousel-heading{
        font-size: 16px;
        line-height: 19px;
    }

    .carousel_text{
        font-size: 10px;
        line-height: 12px;
    }

    .carousel_text_block{
        width: 200px;
    }

    .carousel_text_block_inner{
        padding-bottom: 10px;
    }
    
}


/* ==Картинки для слайдера "Наши клиенты"== */
.img_client{
    cursor: pointer;
    filter: saturate(0%);
    opacity: 80%;
  }
  
.img_client:hover{
    filter: saturate(100%);
    opacity: 100%;
  }

.container_client{
    margin: auto;
    width: 1090px;
}


/* ==Обратная связь== */
.feedback{
    height: 100%;

    background: #232323;
    border-radius: 5px;

    margin-top: 110px;
    padding: 40px;
}

@media screen and (max-width: 991px) {
    .feedback{
        margin-top: 50px;
        padding: 40px;
    }
}

@media screen and (max-width: 575px) {
    .feedback{
        margin-top: 50px;
        padding: 20px;
    }
}

.number {
    -moz-appearance: textfield;
}

.number::-webkit-inner-spin-button {
    display: none;
}

.feedback_caption{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    display: flex;
    align-items: center;

    color: #EAEAEA;
}

.feedback_contact_gray{
    color: #8D8D8D;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.feedback_button{
    width: 100%;
    height: 52px;

    background: #FFED00;
    border-radius: 5px;

    margin-top: 49px;

    border: none;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    align-items: center;

    color: #1F1F1F;

    text-align: center;
    display: inline-block;
}

.feedback_input{
    height: 50px;

    background: #E9E9E9;
    border-radius: 3px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;


    color: #B0B0B0;
}

.feedback_number {
    -moz-appearance: textfield;

    height: 50px;

    background: #E9E9E9;
    border-radius: 3px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;


    color: #B0B0B0;
}

/* ==Подвал== */
.footer{
    margin-top: 100px;
    height: 433px;
    background: #0D0D0D;
}

@media screen and (max-width: 991px) {
    .footer{
        margin-top: 50px;
    }
}

@media screen and (max-width: 575px) {
    .footer{
        margin-top: 50px;
    }
}

/* ==Маленькое лого== */
.mini_logo{
    padding-top: 55px;
    padding-bottom: 30px;
}

/* ==Заголовок подвала== */
.footer_caption{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    
    display: flex;
    align-items: center;

    color: #FFFFFF;

    padding-left: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

#topNubex {
	position: fixed;
	right: 45px;
	bottom: 45px;
   }

.footer_padding{
    padding-bottom: 30px;
}

/* ==Адрес/номер/почта в подвале== */
.footer_adress,
.footer_phone,
.footer_email{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    color: #EAEAEA;
}

.footer_logo{
    max-width: 15px;
    height: auto;
    
}

/* ==Текст для иконок соц.сетей== */
.footer_social_network{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #EAEAEA;

    padding-left: 10px;
}

.vk{
    padding-bottom: 10px;
}


/* ==Модальное окно== */
.modal-header,
.modal-footer{
    border: none;
}


.modal-title{
    font-family: Neo Sans Pro;
    font-style: normal;
    font-weight: bold;
    
    color: #ffffff;
}

.modal-content{
    background-color: #3b3b3b;
}

.button_modal{
    background: #FFED00;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;

    text-align: center;
    display: inline-block;
    
    color: #1F1F1F;

    border: none;

    height: 50px;
    width: 100%;
}

.button-close{
     background: none;
    border: none;
    color: #EAEAEA;
}

.button_up{
    z-index: 1000;
}

